.title {
    font-size: 60px;
    margin: 10% auto 8px auto;
    padding-bottom: 12px;
    color: white;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-bottom: 2px solid #BC4123;
    text-align: center;
    width: fit-content;
  }
  
  #project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }
  #project-image{
    padding-bottom: 2rem;
    max-width: 610px;
    width: 80%;
    height: 400px;
    display: block;
    margin: auto;
  }

  
  #project {
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 610px;
  }
  
  .project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: black;
    text-transform: capitalize;
  }
  
  #project-body {
    background-color: #d8d7d7;
    color: black;
    padding: 40px;
    height:760px
  }
  
  #project-p {
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 0px;
  }

  .link {
    color: black;
    letter-spacing: 0;
    font-weight: 800;
    text-decoration: none;
  }
  
  #lang-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #tag {
    font-size: 20px;
    outline: 1.5px solid #BC4123;
    color: #BC4123;
    font-weight: 800;
    padding: 0.5vw;
    margin: 2vw 2vw 0 0;
    
  }
  
  #read-more-less{
    cursor: pointer;
  }